body{
    background: rgb(98,71,116);
    background: linear-gradient(90deg, rgba(98,71,116,1) 0%, rgba(253,29,29,1) 46%, rgba(252,176,69,1) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#form{
    width: 400px;
    background-color: azure;
    padding: 10px;
    border-radius: 5px;
}

#form > h2{
    text-align: center;
    color: rgb(242, 31, 35);
}
.input-group{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.input-group > label:hover {
   
    text-decoration: underline;
    text-underline-offset: 3px; /* This sets the spacing to 3 pixels */
}
  
.input-group > input {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}
.input-group input:focus{
    outline: 0;
}

#btn{
    padding: 10px;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    margin: 30px auto;
    border-radius: 5px;
    background-color: rgb(242, 31, 35);
}

.input-group .error{
    color:rgb(242, 18, 18);
    font-size:16px;
    margin-top: 5px;
}

.input-group.success input{
    border-color: #0cc477;
}

.input-group.error input{
    border-color:rgb(206, 67, 67);
}

